*.js @moana16 @nimod7890 @racgoo
*.jsx @moana16 @nimod7890 @racgoo
*.ts @moana16 @nimod7890 @racgoo
*.tsx @moana16 @nimod7890 @racgoo
*.css @moana16 @nimod7890 @racgoo
*.json @moana16 @nimod7890 @racgoo
*.lock @moana16 @nimod7890 @racgoo
*.cjs @moana16 @nimod7890 @racgoo

