@tailwind base;
@tailwind components;
@tailwind utilities;

/* font */

@font-face {
	font-family: 'Tenada';
	src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2')
		format('woff2');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Hyundai Sans Head KR Bold';
	src: url('/fonts/HyundaiSansHeadKRBold.woff2.ttf') format('ttf');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Hyundai Sans Head KR Medium';
	src: url('/fonts/HyundaiSansHeadKRMedium.woff2.ttf') format('ttf');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Hyundai Sans Head KR';
	src: url('/fonts/HyundaiSansHeadKR.woff2.ttf') format('ttf');
	font-weight: 400;
	font-style: normal;
}

/** default typography */

body {
	@apply font-normal;
}

h1 {
	@apply text-heading-1 font-extrabold;
}

h2 {
	@apply text-heading-2 font-extrabold;
}

h3 {
	@apply text-heading-3 font-extrabold;
}

h4 {
	@apply text-heading-4 font-extrabold;
}

h5 {
	@apply text-heading-5 font-extrabold;
}

h6 {
	@apply text-heading-6 font-extrabold;
}

p {
	@apply text-body-1 font-normal;
}

h1 > strong, h2 > strong, h3 > strong, h4 > strong, h5 > strong, h6 > strong, p > strong {
	@apply text-primary;
}

/* scroll snap */

main {
	@apply snap-y snap-mandatory overflow-auto;
}

/* 팀 소개 카드 리스트 */

.group-description:hover > *:not(:hover),
.group-description:focus-within > *:not(:focus) {
	@apply transition-all duration-150;
  opacity: 0.4;
  transform: scale(1);	
}

.group-description > *:hover,
.group-description > *:focus {
	@apply transition-all duration-150;
	opacity: 1;
  transform: scale(1.1);
	z-index: 1
}

/* 레이싱 unassigned 유형 카드 */

.gradient-border {
	position: relative;
	overflow: hidden;
	padding: 2px; 
}

.gradient-border::before {
	@apply bg-gradient-border;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-size: 200% 200%;
	z-index: -1;
}	

/* shadcn ui */

@layer base {
	body {
		@apply bg-background text-foreground font-normal;
	}
}
